
body{

  background:black;
}



div{

  border: 3px solid darkgrey;
  position:relative;
  width:50%;
  display:block;
  height:5%;
  margin:1em 20em;
  background:darkorange;
  padding:1em 0 0 0;

}


p{

  
  display:block;
  top:0em;
  height:7em;
  position:relative;
  background-image:url("http://www.devleague.com/img/devleague_dark.svg");
  background-repeat: no-repeat;
  background-size:22em 22em;
  background-position:center;
  margin:0 auto;

}



button{

  margin: 0.5em 2em;
  padding:2em;
  text-decoration: none;
  border-radius:12px;
  color:blue;
  font-weight: bolder;
  background:yellow;
  font-size:0.8em;
}



.all_buttons{

  display:inline;
  margin:0 auto;
  padding:2em;
  background:black;
  border:none;
  margin-bottom:1em;
  

}



.names{

  
  display:inline-block;
  list-style-image: url("https://pbs.twimg.com/profile_images/545675978190512129/XjM_z8_p_normal.jpeg"  );
  padding:0 0 0 8em;
  width:20%;
  left:13%;

  margin-top:1em;
  

}

b{

  margin:0 auto;
}

